{% load static %}
<!DOCTYPE html>
<html>
	
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static  'login.css' %}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	
	<div class="app">
		
		<div class="bg"></div>

		<form id="login-form" action="/" method="post">
			{% csrf_token %}
			<header>
				<img src="{% static 'SCOPE-logo2_white.png' %}">
			</header>

			<div class="inputs">
				<input type="text" name="username" id="username" placeholder="Username or email">
				<input type="password" name="password" id="password" placeholder="Password">

				
			</div>
			<div>
				<br><br><br><br><br>
				<button >Sign In</button>
				
			</div>
			<div style="color:red;">
				{% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
			</div>
		</form>

		

	</div>
</body>
</html>