{% load static %}
<!DOCTYPE html>
<html>
	
<head>

</head>
<script>
  
    function openCity(evt, cityName) {
      document.getElementById("defaultOpen").click();
        // Declare all variables
        var i, tabcontent, tablinks;
      
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
      
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
      
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
</script>
<link rel="stylesheet" type="text/css" href="{% static  'personal.css' %}">
<body>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Personal Information')" id="defaultOpen">Personal Information</button>
        <button class="tablinks" onclick="openCity(event, 'Mentor Information')">Mentor Information</button>
      </div>
      <div id="Personal Information" class="tabcontent">
<table  class="styled-table">
        <tbody>
            {% for stud in student %}
           {% if stud.reg == request.user.username %}  
          <tr>
            <td class="a">REGNO</td>
            <td>{{stud.reg}}</td>
          </tr>
          <tr>
            <td class="a">NAME</td> 
            <td>{{stud.name}}</td>
          </tr>
          <tr>
            <td class="a">Date Of Birth</td>
            <td>{{stud.DOB}}</td>
          </tr> 
          <tr>
            <td class="a">DEGREE</td>
            <td>{{stud.degree}}</td>
          </tr>
          <tr>
            <td class="a">BRANCH</td>
            <td>{{stud.branch}}</td>
          </tr> 
          <tr>
            <td class="a">SCHOOL</td>
            <td>{{stud.school}}</td>
          </tr> 
          <tr>
            <td class="a">EMAIL</td>
            <td>{{stud.email}}</td>
          </tr>
          <tr>
            <td class="a">YEAR OF JOINING</td>
            <td>{{stud.YOJ}}</td>
          </tr>  
          <tr>
            <td class="a">PHONE NO:</td>
            <td>{{stud.PHNO}}</td>
          </tr> 
        {% endif%}
      {%endfor%}
        </tbody>
    </table>	
    <span onclick="this.parentElement.style.display='none'"></span>
</div>

<div id="Mentor Information" class="tabcontent">
    <table  class="styled-table">
            <tbody>
                {% for stud in student %}
               {% if stud.reg == request.user.username %}  
              <tr>
                <td class="a">Faculty ID</td>
                <td>{{stud.fid}}</td>
              </tr>
              <tr>
                <td class="a">Faculty Name</td> 
                <td>{{stud.fname}}</td>
              </tr>
              <tr>
                <td class="a">School</td>
                <td>{{stud.fschool}}</td>
              </tr>
              <tr>
                <td class="a">Cabin</td>
                <td>{{stud.cabin}}</td>
              </tr> 
              <tr>
                <td class="a">Faculty Department</td>
                <td>{{stud.Fdep}}</td>
              </tr> 
              <tr>
                <td class="a">Faculty Email</td>
                <td>{{stud.femail}}</td>
              </tr>
              <tr>
                <td class="a">Faculty Mobile Number</td>
                <td>{{stud.fmob}}</td>
              </tr>        
            {% endif%}
          {%endfor%}
            </tbody>
        </table>	
        <span onclick="this.parentElement.style.display='none'"></span>
    </div>

</body>

</html>

