{% load static %}
<html>


<head>

<link rel = "stylesheet" type = "text/css" href = "{% static  'Queries.css' %}">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,600i&display=swap" rel="stylesheet">
</head>
<header>QUERIES</header>
<body>
  <script>
    window.setInterval('refresh()', 2000); 	
    // Call a function every 10000 milliseconds 
    // (OR 10 seconds).

    // Refresh or reload page.
    function refresh() {
        window .location.reload();
    }
</script>
  
  
  {% for f,n1 in n %}
  <div class="infocardContainer">
    <div id="main">
      
      {% with f.file.path|cut:"/static/chat" as t %}
      <img src="{% static t %}"></img>
      {% endwith %}
    </div>
    <div id="textbois">
      {% if n1 != 0 %}
        <h3><span class="b">{{ n1 }}</span></h3>
      {% endif %}
      <h2>{{f.fname}}</h2>
      
      <a href="mailto:{{f.femail}}">{{s.femail}}</a>
      <div id="hotlinks">
      {% with "/chat/"|add:request.user.username|add:"v"|add:f.fid  as template %}
        <a href="{{template}}"><img id="codepenio" src="{% static  "\Images\chat.png" %}"></img></a>
        
      {% endwith %}
      </div>
    </div>
    </div>
  {% endfor %}
       
</body>
</html>